.DS_Store**
# locally built files
build/bin/*

# generated talos configuration files
talos/config/*

# generated talos patch files
talos/patches/*

# generated manifests / vendored libs
**/build/manifests/**
**/build/vendor/**
